---
layout: default
title: Home
---
<div id="thumb_frame" class="clearfix">
    <div id="topthumb_web">
        <h2>Websites</h2>
        <ul>
            {% for post in site.posts %}
                {% if post.category == 'web' %}
                <li>
                <a href="{{post.url}}">
                  <img src="{{ post.thumb }}" alt="Thumbnail" />
                </a>
                <p>
                  {% if post.tit %}
                    {{ post.tit }}
                  {% else %}
                    {{ post.title | truncatewords: 2 }}
                  {% endif %}
                  <br />{{ post.date | date: "%Y" }}
                </p>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="topthumb_go">
        <h2>Graphics &amp; Others</h2>
        <ul>
            {% for post in site.posts %}
                {% if post.category == 'go' %}
                <li>
                <a href="{{post.url}}">
                  <img src="{{ post.thumb }}" alt="Thumbnail" />
                </a>
                <p>{{ post.title | truncatewords: 2 }}<br />{{ post.date | date: "%Y" }}</p>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<a href="/timeline/">Timeline</a>
