<div class="sliderGallery rounded">
  <ul>
    {% for post in site.posts %}
    <li><a href="{{post.url}}"><img src="{{ post.thumb }}" alt="{{ post.title }}" /></a></li>
    {% endfor %}
  </ul>
  <div class="slider_outer">
    <div class="slider">
      <!-- the handler to action the slide -->
      <div class="handle"></div>
      <!-- labels appear against the slider, as pointers to the user -->
      <span class="slider-lbl1">Web</span>
      <span class="slider-lbl2">Graphics</span>
    </div>
  </div>
</div>
