---
layout: default
---
<div class="sampleframe_outer">
  <div class="sampleframe_{{ page.category }} clearfix rounded">
        <div class="sampleimg">
            {% for image in page.images %}
            <a href="{{ page.sample_link }}" target="_blank"><img src="{{ image }}" alt="{{ page.title }}" /></a>
            {% endfor %}
        </div>
        <div class="explanation">
            <h2>{{ page.title }}</h2>
            <p class="year">{{ page.date | date: "%Y" }}, {{ page.tags | join: ", "}}</p>
            {{ content }}
            <a href="{{ page.sample_link }}" target="_blank">{{ page.sample_link }}</a>
            <div id="nextpre">
                <a href="{{ page.next.url }}" class="main">Next</a>
            </div>
            <div class="backtop">
                <a href="/">Back top</a>
            </div>
        </div>
    </div>
    {% include slider-gallery.html %}
</div>
